{% extends "layout.html" %}
{% block body %}
<h2>Все книги</h2>
<a href="{{ url_for('add_book') }}">Добавить книгу</a>
    {%- for book in books %}
        <ul>
            <li>Название: {{ book.name }} </li>
            <li>
                Автор: <a href="{{ url_for('books_by_author', author_id=book.author.id) }}">{{ book.author.name }}</a>
            </li>
            <li>
                Жанр: <a href="{{ url_for('books_by_genres', genre_id=book.genre.id) }}">{{ book.genre.name }}</a>
            </li>
            <li>Дата добавления: {{ book.added.strftime("%d-%m-%Y") }}</li>
            <li>Прочитано: {{'Да' if book.is_read else 'Нет'}}</li>
            <li>
                <form action="/" method="post">
                    <label>
                        <input type="checkbox" name="is_read" value="{{book.id}}">Прочитано
                    </label>
                    <input type="submit" value="Сохранить" />
                </form>
            </li>
      </ul>
      <hr>
{%- endfor %}
{% endblock %}